<footer class="footer">
      <div class="container">
        <div class="footer-content">
          <h2>COPY<span>FAST&</span>PRINT</h2>
          <h5>Tu Solución Integral en Impresión y Personalización</h5>
        </div>
        <div class="social-networks">
          <a href="https://www.instagram.com/copyfastprint/" target="_blank"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="https://wa.me/584220135069" target="_blank"><i class="fab fa-whatsapp"></i></a>
          <a href="https://www.facebook.com/profile.php?id=61578120201237"
            target="_blank"
            ><i class="fab fa-facebook"></i></a>
          <a href="https://co.pinterest.com/copyfastprint/" target="_blank"
            ><i class="fab fa-pinterest"></i></a>
          <a href="https://www.tiktok.com/@copyfastprint" target="_blank"
            ><i class="fab fa-tiktok"></i></a>
        </div>
      </div>
    </footer>

